.card_custom {
    min-height: 800px;
    position: relative;

    .buttons_div {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}




header {
    background-color: #333;
    color: white;
    height: 80px;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        margin: 0;
    }

    nav {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            text-decoration: none;
            color: white;


            &.active {
                text-decoration: underline;
                /* background-color: black; */
            }
        }
    }
}


main {
    padding-top: 2rem;
    min-height: calc(100vh - 160px);
}

footer {
    height: 80px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}